<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title></title>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        </head>
        <body style="background-color:black;">
                <h1 class="banner">CHAPTER 2 SECTION 8</h1>
                <div class="typewriter explain">
                        <h2>They stand over you, and unload their guns into your dying body.</h2>
                </div>
        
                 <a href="/" class="question button">PLAY AGAIN</a> 
            
        
        </body>
        
</html>